{% extends ismobile ? "Mastermobile.html.twig" : "Masterpage.html.twig" %}

{% block head %}{% endblock %}

{% block nav %}
	<select id="menuderoulant" name="menuderoulant" class="bg-transparent border-0 font-weight-bolder width-justify margintop20">
			<option value="accueil">Accueil</option>
			<option value="jeux" selected>Jeux</option>
			<option value="videos">Vidéos</option>
			<option value="creepyPasta">CreepyPasta</option>
			<option value="forum">Forum</option>
			<option value="chat">Chat</option>
	</select>
{% endblock %}



{% block gaucheun %}
<div class="h-50 justifyparlehautcettefois textrouge col-sm-6 col-md-12">
	<h4>Meilleurs joueurs : </h4>
	<ul class=" padenone">
    {% for user in bestp %}
     {% set loopIndex = loop.index %}
    {% if user.sexe == "1" %}
            {% set SEXECRIT = "Homme" %}
    {% elseif user.sexe == "2" %}
            {% set SEXECRIT = "Femme" %}
    {% elseif user.sexe == "3" %}
            {% set SEXECRIT = "Indéfinis" %}
    {% endif %}
    <li>
        <a href="#" data-html="true" class="textrouge" data-toggle="tooltip" data-placement="right" title='
        <div class="Tooltipheader">
                <p class="textrouge text-left"><b> {{ user.name|upper }} </b><p>
            </div>
            <div class="TooltipContent text-left">
                <ul>
                    <li> Sexe: {{ SEXECRIT }}</li><br />
                    <li> Age : {{ user.age }} </li><br />
                    <li> Membre depuis le : {{ user.regdate|slice(start, 10) }} </li><br />
                    <li> Côte : {{ user.avis }} </li>
                </ul>
            </div>
        '>
        {{user.name}}
        </a>
    </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}


{% block gauchedeux %}
<div class="h-50 justifyparlehautcettefois textrouge col-sm-6 col-md-12">
	<h4>Meilleurs jeux : </h4>
	<ul class=" padenone">
    {% for jeux in bestg %}
	<a href="index.php?routage=selectedjeux&menuderoulant=accueil&jeuxId={{ jeux.id }} ">
    <li>{{jeux.name}}</li>
	</a>
    {% endfor %}
    </ul>
</div>
{% endblock %}

{% block content %}
	<div class="col-md-10 bg-dark margenone padenone" style="overflow:hidden">
		<div id="incrustation" class="col-md-11 h-75  margmid" >
			<div class="h-10 textrouge">
			{% for jeux in UrlJeux %}
				<h2 class="pad1percent">{{jeux.name}} : </h2>
			</div>
			<div id="embedjeuselected">
				<iframe src="{{jeux.link}}" width="100%" height="100%"></iframe>
				
			</div>
		</div>
		<div id="bandeaudfilant" class="col-md-11 h-25  margmid" >
			<div class="card-deck carddeckkkpourledessous">
			<div class="align-right policeepee float-right">
					<a href="#"><i class="fas fa-thumbs-up textrouge" id="likejeu" data-idjeu="{{jeux.id}}"></i></a>
					<a href="#"><i class="fas fa-thumbs-down textblanc" id="dislikejeu" data-dislikeid="{{jeux.id}}"></i></a>
				</div>
				{% endfor %}
					<div class="trianglegaucherouge ">
					</div>
					{% for jeux in minjerand %}
				<div class="card bg-danger bordurusmimosa cardaarrangerbakde">
					<a href="index.php?routage=selectedjeux&menuderoulant=selectedjeux&jeuxId={{ jeux.id }} ">
						<div class="card-body policeepee contenuedecartelalalerje">
							<h5 class="borderblack text-center texterouge videonamecardselectedede">{{jeux.name}}</h5>
							<div class="bg-dark texterouge bordurusmimosa" id="cardcontent">
								<img src="{{jeux.miniaimg}}" alt="miniature" class="miniaturebandeau bordurusmimolette" height="100%" width="100%">
							</div>
						</div>
					</a>
				</div>
				{% endfor %}
				<div class="triangledroiterouge "></div>
			</div>
		</div>
	</div>
{% endblock %}